@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>Customized News Website</h1>
    <p class="lead"> View your news now with your own interests and customize them the way you want!</p>
</div>

<div class="row">

</div>